# ignore most things in the build folder
/build/*
!/build/resources

# Mac OS X and Xcode stuff
.DS_Store

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

# SimTower
/resources/SIMTOWER.EXE

# Documentation (for now)
/doc/*
!/doc/Doxyfile
