[submodule "thirdparty/tinyxml2"]
	path = thirdparty/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "thirdparty/astar-search"]
	path = thirdparty/astar-search
	url = https://github.com/hoshi10/astar-algorithm-cpp.git
